/* * {
    margin: 0;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.center{
    margin: auto;
    height: 80%;
    width: 80%;
    overflow: auto;
}
.center::-webkit-scrollbar{
    display: none;
} */


.background{
    background: linear-gradient(to right,rgba(5, 96, 5, 0.676),rgb(3, 59, 3),rgb(2, 30, 2));
}
.hbackground{
    background: linear-gradient(to right,rgb(61, 61, 138),rgb(72, 22, 120),rgb(11, 11, 118));
}